@charset "utf-8";
/* CSS Document */
/*---------------------- css reset ----------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, a, blockquote, th,i,u {margin:0 auto;padding:0;border:0;}
h1, h2, h3, h4, h5, h6 {font-size:100%;}
ol, ul,ol li,ul li {list-style:none;}
u, i {font-size:12px; font-weight:normal; font-style:normal;}
table {border-collapse:collapse; border-spacing:0px;}
fieldset,img {border:0;}
html {width:100%; -MS-TEXT-SIZE-ADJUST: 100%; -webkit-text-size-adjust: 100%;  background: #edf0f5;}
body{color:#000;background:#edf0f5;font-family:'Microsoft Yahei',Verdana,Arial,sans-serif,"Times New Roman";}
a{text-decoration:none;}
/*清除浮动(后)*/
.clearfix {clear:both;height:0;overflow:hidden;margin:0;padding:0;}
input,textarea,select{border:0;outline:0;}

.clearfloat:after { 
content: "." ; 
display: block ;
height: 0 ;
clear: both ;
visibility: hidden ;
}
.clearfloat{ display: inline-block; }
/* Hides from IE-mac \*/ 
*html .clearfloat{ height:1%; }
.clearfloat{ display:block; }
/* End hide from IE-mac \*/

.fl{float:left;}
.fr{float:right;}
.b_blue{border:1px solid #79beff !important;}
.b_red{border:1px solid #ff4545 !important;}

.p_right{background:url(../images/procurement/wrnicon.png) no-repeat -10px -67px;}
.p_wrong{background:url(../images/procurement/wrnicon.png) no-repeat -7px -15px;padding-left:28px;}


.list_findno{background:url(../images/nosearch.png) no-repeat;width:250px;height:140px;color:#757575;font:18px/140px Microsoft Yahei;
padding-left:160px;padding-bottom: 30px;}
.list_nowno{background:url(../images/nosearch.png) no-repeat 0 -140px;width:200px;height:140px;color:#757575;font:18px/140px Microsoft Yahei;
padding-left:160px;padding-bottom: 30px;}
.layui-layer-btn{padding-bottom:30px !important;}


/*************************************通用首页框架***************************************/
/*头部*/
.index_header{ width: 100%; height:82px; background:#2d3544;   -webkit-box-shadow: 0px 0px 32px rgba(0,0,0,0.15);  -moz-box-shadow: 0px 0px 32px rgba(0,0,0,0.15);  box-shadow: 0px 0px 32px rgba(0,0,0,0.15); position: fixed;z-index: 22;left: 0;top: 0;}
.index_logo{ float: left; margin:15px 0 0 24px;}
.index_logo img{ width:173px; height:52px;}
.index_welcomes{ float:right; height: 82px; color: #e1e1e1; font: 14px/82px Microsoft Yahei; background: url(../images/main/headerIcon.png) no-repeat 0 29px; padding-left: 34px;}
.index_welcomes span{color: #fff;}
.headnav{ float: right; height: 82px;}
.headnav2:hover{background: url(../images/main/hnav2_on.png) no-repeat 7px bottom;}
.headnav1:hover{background: url(../images/main/hnav1_on.png) no-repeat 31px bottom;}
.hnav1,.hnav2{display: block; height: 82px; color: #e1e1e1; font: 16px/82px Microsoft Yahei; padding-left: 34px;}
.hnav1:hover,.hnav2:hover{color: #fff;}
.hnav1{ background: url(../images/main/headerIcon.png) no-repeat 8px -252px; margin:0 14px 0 22px;}
.hnav1:hover{ background: url(../images/main/headerIcon.png) no-repeat 8px -64px;}
.hnav2{ background: url(../images/main/headerIcon.png) no-repeat 8px -159px; margin-right: 40px;}
.hnav2:hover{background: url(../images/main/headerIcon.png) no-repeat 8px -351px;}
/*侧边栏*/
.mtbr{margin-top: 26px;}
.index_sidebar{width: 240px;height:100%;background: #fff;position:fixed; z-index:22;left:0;top:82px; text-align: left;-webkit-box-shadow: 0px 0px 32px rgba(0,0,0,0.15);  -moz-box-shadow: 0px 0px 32px rgba(0,0,0,0.15);  box-shadow: 0px 0px 32px rgba(0,0,0,0.15); padding-top:16px;}
.side{width:240px;height:52px; cursor: pointer; }
.side0{ background: url(../images/main/schIcon1.png) 0px 16px no-repeat; padding-left: 33px;}
.side1{ background: url(../images/main/schIcon1.png) 0px -45px no-repeat; padding-left: 33px;}
.side2{ background: url(../images/main/schIcon1.png) 0px -104px no-repeat; padding-left: 33px;}
.side3{ background: url(../images/main/schIcon1.png) 0px -162px no-repeat; padding-left: 33px;}
.side4{ background: url(../images/main/schIcon1.png) 0px -222px no-repeat; padding-left: 33px;}
.side5{ background: url(../images/main/schIcon1.png) 0px -282px no-repeat; padding-left: 33px;}
.side6{ background: url(../images/main/schIcon1.png) 0px -342px no-repeat; padding-left: 33px;}
.side7{ background: url(../images/main/schIcon1.png) 0px -402px no-repeat; padding-left: 33px;}
.side8{ background: url(../images/main/schIcon1.png) 0px -464px no-repeat; padding-left: 33px;}
.side9{ background: url(../images/main/schIcon1.png) 0px -522px no-repeat; padding-left: 33px;}
.side0_on{ background: url(../images/main/schIcon2.png) 0px 16px no-repeat !important; padding-left: 33px;}
.side1_on{ background: url(../images/main/schIcon2.png) 0px -45px no-repeat !important; padding-left: 33px;}
.side2_on{ background: url(../images/main/schIcon2.png) 0px -104px no-repeat !important; padding-left: 33px;}
.side3_on{ background: url(../images/main/schIcon2.png) 0px -162px no-repeat !important; padding-left: 33px;}
.side4_on{ background: url(../images/main/schIcon2.png) 0px -222px no-repeat !important; padding-left: 33px;}
.side5_on{ background: url(../images/main/schIcon2.png) 0px -282px no-repeat !important; padding-left: 33px;}
.side6_on{ background: url(../images/main/schIcon2.png) 0px -342px no-repeat !important; padding-left: 33px;}
.side7_on{ background: url(../images/main/schIcon2.png) 0px -402px no-repeat !important; padding-left: 33px;}
.side8_on{ background: url(../images/main/schIcon2.png) 0px -464px no-repeat !important; padding-left: 33px;}
.side9_on{ background: url(../images/main/schIcon2.png) 0px -522px no-repeat !important; padding-left: 33px;}
.side:hover{ background:#edf0f5;}
.side a{ color: #626262; font: 16px/52px Microsoft Yahei;margin-left:50px;display: block;}
.side_a_on{ color:#2a5893 !important;}
.side_a_on:hover{ color:#2a5893 !important;}
.side_on{background: #f2f6ff url(../images/main/side_on_bg.jpg) no-repeat left center !important;}
/*商家中心*/
.sch1{background: url(../images/main/schIcon1.png) no-repeat 46px 11px;}
.sch2{background: url(../images/main/schIcon1.png) no-repeat 46px -36px;}
.sch3{background: url(../images/main/schIcon1.png) no-repeat 46px -87px;}
.sch4{background: url(../images/main/schIcon1.png) no-repeat 46px -138px;}
.sch5{background: url(../images/main/schIcon1.png) no-repeat 46px -188px;}
.sch6{background: url(../images/main/schIcon1.png) no-repeat 46px -238px;}
.sch7{background: url(../images/main/schIcon1.png) no-repeat 46px -288px;}
.sch8{background: url(../images/main/schIcon1.png) no-repeat 46px -338px;}
.sch9{background: url(../images/main/schIcon1.png) no-repeat 46px -388px;}
/*合商财务*/
.sch11{background: url(../images/main/schIcon2.png) no-repeat 46px 12px;}
.sch12{background: url(../images/main/schIcon2.png) no-repeat 46px -38px;}
.sch13{background: url(../images/main/schIcon2.png) no-repeat 46px -88px;}
.sch14{background: url(../images/main/schIcon2.png) no-repeat 46px -138px;}
.sch15{background: url(../images/main/schIcon2.png) no-repeat 46px -188px;}
.sch16{background: url(../images/main/schIcon2.png) no-repeat 46px -238px;}
/*豪诺财务*/
.sch21{background: url(../images/main/schIcon3.png) no-repeat 46px 12px;}
.sch22{background: url(../images/main/schIcon3.png) no-repeat 46px -38px;}
.sch23{background: url(../images/main/schIcon3.png) no-repeat 46px -88px;}
/*业务中心*/
.sch31{background: url(../images/main/schIcon4.png) no-repeat 46px 12px;}
.sch32{background: url(../images/main/schIcon4.png) no-repeat 46px -38px;}
.sch33{background: url(../images/main/schIcon4.png) no-repeat 46px -88px;}
.sch34{background: url(../images/main/schIcon4.png) no-repeat 46px -138px;}
/*风控审核*/
.sch41{background: url(../images/main/schIcon5.png) no-repeat 46px 11px;}
.sch42{background: url(../images/main/schIcon5.png) no-repeat 46px -40px;}
.sch43{background: url(../images/main/schIcon5.png) no-repeat 46px -90px;}
.sch44{background: url(../images/main/schIcon5.png) no-repeat 46px -140px;}
.sch45{background: url(../images/main/schIcon5.png) no-repeat 46px -190px;}
/*平台管理*/
.sch51{background: url(../images/main/schIcon6.png) no-repeat 46px 11px;}
.sch52{background: url(../images/main/schIcon6.png) no-repeat 46px -40px;}
.sch53{background: url(../images/main/schIcon6.png) no-repeat 46px -90px;}
.sch54{background: url(../images/main/schIcon6.png) no-repeat 46px -140px;}
.sch55{background: url(../images/main/schIcon6.png) no-repeat 46px -190px;}
.sch56{background: url(../images/main/schIcon6.png) no-repeat 46px -240px;}
.sch_on{background: url(../images/main/sch_on_bg.png) no-repeat 0px 5px !important;}

/*右主要内容区域*/

.content{background:#edf0f5;overflow:hidden; min-width: 1000px;padding:82px 0px 0px 220px;}

/*欢迎页*/
.index_welcome{background:#fff url(../images/main/welbg.png) no-repeat center;position: relative;}
.welText{width: 30%;position: absolute;top: 280px; left: 156px;}
.welspan{color: #fff;font: 20px Microsoft Yahei;background: #6d8398;padding: 7.5px 28px;display: inline-block;position: relative;}
.welem{background: url(../images/main/welicon.png) no-repeat 0px 0px;width: 35px;height: 41px;display: block;position: absolute;top: 0px;right: -38px;}
.welText h1{color: #6d8398;font: bold 41px Microsoft Yahei;padding: 4px 0 10px 0;}
.wela{color: #787878;font: 14px Microsoft Yahei;}



/*返回按钮*/
.od_return_c{width:118px;height:60px;top:-30px;right:0;position:absolute;background:url(../images/bc/circle.png) no-repeat center 0px;text-align:center;font:600 16px/30px Microsoft Yahei;color:#fff;cursor:pointer;z-index:10;}
.od_return_l{width:8px;height:26px;top:3px;right:55px;z-index:9;position:absolute;background:url(../images/bc/hem.png) no-repeat center -54px;}
/*************************************end 通用首页框架***************************************/


/*弹窗公用自定义样式*/
.layerBorder{
border: 10px solid #aeaeae;border: 10px solid rgba(0,0,0,0.1) !important;
border-radius: 6px !important;box-shadow: none !important;
-moz-background-clip: border; /* Firefox 3.6 */    
-webkit-background-clip: border; /* Safari 4? Chrome 6? */    
background-clip: border-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */    
-moz-background-clip: padding; /* Firefox 3.6 */    
-webkit-background-clip: padding; /* Safari 4? Chrome 6? */    
background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */    
-moz-background-clip: content; /* Firefox 3.6 */    
-webkit-background-clip: content; /* Safari 4? Chrome 6? */    
background-clip: content-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
/*end 弹窗公用自定义样式*/

/*新统一弹窗样式*/
body .layerBtn1 .layui-layer-btn{padding: 10px 12px 20px 12px;text-align: center;}
body .layerBtn1 .layui-layer-btn a{}
body .layerBtn1 .layui-layer-btn .layui-layer-btn0{width: 88px;background-color: #fd7676;border: 1px solid #ff4b4b;}
body .layerBtn2 .layui-layer-btn{padding: 10px 12px 20px 12px;text-align: center;}
body .layerBtn2 .layui-layer-btn a{}
body .layerBtn2 .layui-layer-btn .layui-layer-btn0{width: 48px;background-color: #fd7676;border: 1px solid #ff4b4b;}
body .layerBtn2 .layui-layer-btn .layui-layer-btn1{width: 48px;border: 1px solid #dedede;background-color: #f1f1f1;}
.layer_suc{min-height: 37px;color: #333;font: 16px "Microsoft Yahei";text-align: center;margin-top: 30px;padding-right: 20px;}
.layer_suc img{vertical-align: middle;margin-right: 10px;}
.layer_war{min-height: 37px;color: #333;font: 16px "Microsoft Yahei";text-align: center;margin-top: 30px;padding-right: 20px;}
.layer_war img{vertical-align: middle;margin-right: 10px;}
.layer_err{min-height: 37px;color: #333;font: 16px "Microsoft Yahei";text-align: center;margin-top: 30px;padding-right: 20px;}
.layer_err img{vertical-align: middle;margin-right: 10px;}
/*end 新统一弹窗样式*/

/*共用分页样式css*/
.pagination ul{ float: right;}
.pagination ul li{ float: left; width: 32px; height: 32px; line-height: 32px; text-align: center;display:block;}
.pagination ul li img{ width: 7px; height: 7px;margin-top:12px;}
.pagination ul li a{ color: #797979; font-size: 12px; display: block; background: #fff;border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd;}
.pagination input{ float: right; border: 1px solid #ddd; width: 38px; height: 20px; text-align: center; margin-left: 20px;padding:6px 0px;}
.pagination p{ float: right; border: 1px solid #ddd; width: 32px; height: 32px; line-height: 32px; text-align: center; margin: 0px 20px; color: #333; font-size: 12px; cursor: pointer; background: #f7f7f7;}
.pagef{border-left: 1px solid #ddd;}
.pagef a{width: 32px; height: 32px;display: block;}
.pagel a{width: 32px; height: 32px;display: block;}
.page_on a{ color: #fff !important; background: #54acee !important; border-top: 1px solid #54acee !important; border-bottom: 1px solid #54acee !important;}
.jin a{ background: #f7f7f7 !important; cursor: not-allowed;width: 32px; height: 32px; }/*禁用翻页状态*/
/*end 共用分页样式css*/

/*列表没有数据*/
.listNone{ color: #999 !important; font-size: 14px !important; text-align: center; padding: 42px 0px;}
.listNone a{ color: #54acee; font-size: 14px; text-decoration: underline;}
/*end列表没有数据*/

/*搜索没有数据*/
.seekNone{ width: 100%; height: 198px; border: 1px solid #e1e6eb; background: #fff; margin-bottom: 20px;}
.seekNone_line{ border-top: 1px solid #e8e8e8; width: 100%;}
.seekNone p{ width: 385px; height: 100px; margin: 0 auto; background: url(../images/main/seekNone_img.png) no-repeat; padding-left: 130px; color: #575757; font-size: 14px; padding-top: 22px; line-height: 28px; margin-top: 52px;}
/*end搜索没有数据*/


/*一直加载图标显示*/
.loading_icon{line-height:100px;background:url(../js/layer/skin/default/loading-1.gif) no-repeat 20px 30px;padding-left:80px;}

/****网站底*****/
.cp_footer{width:1200px;}
.cp_p{text-align:center;color:#909090;font-size:14px;line-height:60px;}
.mtop20{margin-top:20px;}
.footer{color:#909090;text-align:center;line-height:60px;padding-left:240px;}


/*******400,500,无权限**************/
.topup_header{ width: 100%; height: 90px; background: url(../images/main/header.png) no-repeat;position: fixed;z-index: 22;left: 0;top: 0;}
.risk_blank{height: 82px;}
.cont_45n{width:400px;height:320px;text-align:center;position:absolute;top:50%;left:50%;margin:-140px 0 0 -200px;}
.goindex{width:180px;height:47px;background:url(../images/main/goindex.png) no-repeat;display:block;margin-top:40px;}
.goindex:hover{background:url(../images/main/goindex.png) no-repeat 0 -80px;}
.sc_pnote{font:600 22px/20px Microsoft Yahei;color:#fe7145;letter-spacing:2px;margin-top:30px}
.sc_pnote em{font-size:28px;}
.whitebg{background:#fff}
.height100{height:100%;background:#fff}

/*******页面加载动效*******/
.loading{ width:100px; height:100px; position:fixed; left:50%; top:50%; margin-left:65px; background: url(../images/common/loading.gif) no-repeat center;}

/*IE7及以下提示浏览器版本过低*/
#mall_iec{ width:100%; height:60px; background:#fff; display:none;}
#iecin{ width:1200px; height:60px; margin: 0 auto; background:#fff;}
#iecin p{ font:20px/60px Microsoft Yahei; color:#c8202c; text-align: center;}
#iecin span{ padding-left: 15px; padding-right: 15px; padding-bottom: 5px; 
border:1px solid #ddd; background:#f5f5f5; font:30px Microsoft Yahei; float:right; margin-top:5px; cursor:pointer;}
/*end  IE7及以下提示浏览器版本过