/*修改支付密码弹窗*/
.findpwd1_tit{ width: 590px; height: 36px; margin-top: 40px; margin-bottom: 58px; background: url(../images/reg/findpwd1_tit.png) no-repeat;}
.findpwd2_tit{ width: 590px; height: 36px; margin-top: 40px; margin-bottom: 50px; background: url(../images/reg/findpwd2_tit.png) no-repeat;}
.h448{ height: 448px;}
.findpwd_user_p{font:16px/40px Microsoft yahei;color:#646464;}
.pay_tit_rr{text-align:right;width:140px;padding-right:10px;}
.pay_tit_rr span{ color: #ff5b5a;}
.reg_ntit_pp{position:relative;}
.reg_ntit_pp input{height:20px;border:1px solid #d2d2d2;color:#6d869c;border-radius:6px;padding:10px 0 10px 10px;font-size: 16px;line-height: 20px;}
.reg_ntit_pp span{position:absolute;font-size:14px;color:#ccc;top:0px;left:15px;}
.findpwd_table{width:610px;margin:0 0 16px 100px;}
.findpwd_table2{width:630px;margin:0 0 16px 100px;}
.findpwd_table td,.findpwd_table2 td{color:#6d869c;font-size:16px;}
.findpwd_table tr th{ height: 80px; font: 600 18px/60px "微软雅黑"; color: #6d8398; text-align: left; padding-left: 200px;}
.findpwd_table2 tr th{ height: 60px; font: 600 18px/60px "微软雅黑"; color: #6d8398; text-align: left; padding-left: 200px;}
.gaptr td{ height: 40px; line-height: 40px;}
.pd28 td{ padding-bottom: 28px;}
.mt30{ margin-top: 30px;}
.findpwd_win{width:100%;}
.findpwd_win h3{background:url(../images/reg/nicon.png) no-repeat 55px -163px;font:26px/52px Microsoft yahei;color:#565656;margin:40px 0 20px 0;
padding-left:120px;}
.findpwd_win p{margin:10px 15px 10px 95px;color:#646464;font-size:16px; margin-top: 25px;}
.reg_below_notee{top:2px;font:14px/28px Microsoft yahei; position: absolute;top: -26px;}
.reg_below_notee span{color:#ff5b5a;}
.change_tit_rr{text-align:right;width:170px;padding-right:10px;}
.change_tit_rr span{ color: #ff5b5a;}
.mt90{ margin-top: 90px;}
.reg_pnote{font:14px/40px Microsoft yahei;color:#ff5b5a;}
/*找回支付密码弹窗*/
.reg_verify_btn{float:left;height:42px;width:120px;border-radius:6px;background:#54adff;text-align:center;color:#fff;cursor:pointer;font:14px Microsoft yahei;}
.reg_verify_btn:hover{background: #349eff;}
.reg_verfiy_gray{background:#e2e2e2 !important;color:#a9a9a9 !important;cursor:not-allowed;}