
@{
    Layout = null; 
}
<!doctype html>
<html style="width: 100%;height: 100%;">
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <link href="~/css/reg.css" rel="stylesheet" /> 
</head>
<body class="loginbg">
    <div class="login_c clearfloat">
        <div class="login_c_t">
            <div class="login_bg"></div>
            <div class="login_content">
                <div class="logo"></div>
                <div class="login_box">
                    <form autocomplete="off">
                        <p class="user_login"></p>
                        <p class="login_ntit_p login_user">
                            <input type="text" class="login_user_input J_user" />
                            <span>请输入用户名</span>
                        </p>
                        <p class="login_ntit_p login_pwd">
                            <input type="text" class="login_pwd_input J_pwd" />
                            <span class="J_pwdspan">请输入密码</span>
                        </p>
                        <p class="login_code login_pwd clearfloat">
                            <input type="text" class="login_code_input" maxlength="4" />
                            <span class="login_code_span">请输入验证码</span>
                            <img src="images/common/vcode.jpg">
                        </p>
                        <div class="login_prompt_box clearfloat"><i class="login_prompt"></i></div>
                        <p class="login_sbtn">登录</p>
                    </form>
                </div>
            </div>
        </div>
        <div class="login_copyright2_box"> 
            <p class="login_copyright">Copyright @DateTime.Now.Year - 轻图后台 &nbsp;&nbsp;技术支持：轻赢团队 Application</p>
        </div>
    </div>
    <script src="~/js/jquery-1.8.0.min.js"></script>
    <script src="~/js/login.js"></script> 
</body>
</html>
